.Hedaer {
    background-image: url('Imgs/scholarship-books.jpg');
    height: 450px;
    border-bottom-left-radius:30px;
    border-bottom-right-radius:30px;
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.2);
    z-index: 2;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.panel {
    box-shadow: 9px 13px 29px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 13px 29px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 13px 29px -10px rgba(0,0,0,0.75);
    float:left;
   
}


.panel-heading{
    font-size:16px;
}
.Data {
    margin-top: 30px;
}

.MyImg{
    float:left;
    width:50%;
}

.MyImg img{
    height:100%;
    width:100%;
}

.panel-info P {
    font-size: 20px;
    color: #3a87ad;
    font-weight:bold;
    float:left;
    width: 50%;
    padding: 15px;
}

.panel-warning a {
    font-size: 20px;
    color: #c09853;
    font-weight: bold;
    float: left;
    width: 50%;
    padding: 15px;
}

.panel-danger P {
    font-size: 20px;
    color: #b94a48;
    font-weight: bold;
    float: left;
    width: 50%;
    padding: 15px;
}

.panel-success P {
    font-size: 20px;
    color: #468847;
    font-weight: bold;
    float: left;
    width: 50%;
    padding: 15px;
}


.Subject {
    padding: 20px;
    border: 1px solid #c09853;
    width: 60%;
    margin-left: 20%;
    box-shadow: 9px 13px 29px -10px rgba(0,0,0,0.75);
    -webkit-box-shadow: 9px 13px 29px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 9px 13px 29px -10px rgba(0,0,0,0.75);

    margin-top:30px;
    margin-bottom:50px;

    text-align:center;
    border-radius:15px;
}

    .Subject p {
        font-size: 20px;
        color: #c09853;
        font-weight:bold;
    }




.Form {
    width: 50%;
    margin-left: 25%;
    border: 1px solid rgba(137, 109, 34,.2);
    background-color: white;
    box-shadow: 11px 13px 39px -17px rgba(0,0,0,0.81);
    -webkit-box-shadow: 11px 13px 39px -17px rgba(0,0,0,0.81);
    -moz-box-shadow: 11px 13px 39px -17px rgba(0,0,0,0.81);
    border-radius: 20px;
    margin-top:50px;
    
}



.VerticalForm {
    width: 100%;
    border: 1px solid rgba(137, 109, 34,.2);
    background-color: white;
    box-shadow: 11px 13px 39px -17px rgba(0,0,0,0.81);
    -webkit-box-shadow: 11px 13px 39px -17px rgba(0,0,0,0.81);
    -moz-box-shadow: 11px 13px 39px -17px rgba(0,0,0,0.81);
    border-radius: 20px;
}


.FormHeader {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 100%;
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}


.FormContent{
    width:60%;
    margin-left:20%;
    padding:30px;
}